<div class="hero-unit" >
	<div class="row-fluid">
		<h1>Log In</h1>
	</div>
	<div class="row-fluid">

		<div class="span12">
		
			<form method="POST">
	
				<div>
					<label for="username">Username</label>
					<input type="text" name="username" id="username">
				</div>

				<div class="">
					<label for="password">Password</label>
					<input type="password" name="password" id="password">
				</div>

				<div class="submit">
					<input type="submit" class="btn" id="login" value="Log in">
				</div>	
		
			</form>
		</div>
	</div>
</div>

