
<div class="hero-unit" id="index">
<div class="row-fluid">
    <div class="span5">
        <img src="img/rent1.png" id="rent">
    </div>
    <div class="span7" id="paragraph1">
        
		<p><b>WELCOME</b> to the Rent or Vent,
        a place to find and share information about apartments by renters for renters. 
    
        Check out <b>VIEW</b> section for apartment and buildings reviewed by their current and former tenants. 
        </p>
    </div>
</div>
<div class="row-fluid">
    <div class="span5"  id="paragraph2">
        <p>Sometimes all you've left to do is let it off your heart and move on. Review, Vent, Comment or Chat about your rental experience in the <b>REVIEW</b> section. Lets help each other find a perfect home and as we do it, change real estate business culture.</p>
    </div>

    <div class="span7">
        <img src="img/orVent1.png" id="vent">
    </div>
</div>
</div>
