<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>RENT or VENT</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/bootstrap-responsive.css"> 
        <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>       
        <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="/js/script.js"></script>
    </head>

    <body class="body">

        <div class="navbar navbar-fixed-top" id="nav">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
                        <span class="icon-th-list"></span>
                    </a>
                    <a class="brand" href="/">RENT or VENT</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right" >
                            <li ><a href="/view">View</a></li>
                            <li ><a href="/write">Review</a></li>
                            {{#currentUser}}
                            <li >
                                <a href="/user/{{currentUser.username}}">{{currentUser.username}}
                                </a>           
                            </li >                            
                            <li ><a href='/logout'>Logout</a></li>
                            {{/currentUser}}
                            {{^currentUser}}
                            <li ><a href='/login'>Login</a></li>
                            <li ><a href='/register'>Register</a></li>
                            {{/currentUser}}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
            <script language="javascript">setPage()</script>
        </div>

        <div class="container">

            {{{ yield }}}
                      
        </div> <!-- /container -->

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-29253415-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
