<div class="hero-unit">

    <div class="row-fluid">
        <h1>Account</h1>
    </div>
    
    <div class="row-fluid">
        <div class="span4">

        	<strong>User Name:</strong> {{username}}<br/>
        	<strong>E-mail:</strong> {{email}}<br/>
        	<strong>Current Address :</strong> 
            <address>
            	{{address.building}}, apt.{{address.apartment}},
                {{address.city}}, {{address.zip }}<br/>
            </address>
            <strong>Date Moved In:</strong> {{dateMovedIn}}<br/>
        	<strong>Date Moved Out:</strong> {{dateMovedOut}}
        	<br><br/>
        	{{#isOwner}}	
    	        <a href="/edit_account/{{user_id}}" class="btn btn-small"><i class="icon-edit" id="button_icon"></i> edit account</a>
    	    {{/isOwner}}
        </div>

    <div class="span6" id="user_acct_reviews">

        	<legend id="user_acct_legend">Reviews</legend>

    	    {{#posts}}

    	        <span class="titles">{{ title }} </span>	
                    <br/>Last updated: {{lastupdated}}

    	        	{{#isOwner}}
    		        <a href="/edit/{{id}}" class="btn btn-link">
                    <i class="icon-edit"></i></a>
    		        {{/isOwner}}
    	        <br/>
    	        {{& body }}

                <h5>Comments</h5><br/> 
                <p class="indent">
                    {{#comments}}
                     by <a href="mailto:{{user.email}}">{{name}}</a><br/>
                     {{text}}
                    {{/comments}}
    	        </p>

    	    {{/posts}}

        </div> 

     </div>   
</div>